form {
    display: inline-block;
    margin-top: 25px;
}

body {margin: 0px;height: 100%;width: 100%;text-align: center;}

.my-button {
    margin-top: 15px;
    height: 40px;
    font-size: 25px;
}

input[type="button"] {
    font-size: 20px;
}

.square {
    border: 1px solid gray;
}

.input-text {
    font-size: 20px;
}